@model List<Patient> 

<h1>Patients List</h1>

<div class="container">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>
					Email Address
				</th>
				<th>
					Mobile Number
				</th>
				<th>
					Status
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var patient in Model.OrderBy(u=>u.CreatedAt)){
				<tr>
					<td>
						@patient.Email
					</td>
					<td>
						@patient.MobileNumber
					</td>
					<td>
						@patient.Status
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>