@model Patient

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h1>Register</h1>
			<hr/>
		</div>
		<div class="mb-3">
			<label>Email Address</label>
			<input type="email" class="form-control" name="Email" required>
		</div>
		<div class="mb-3">
			<label>Phone Number</label>
			<input type="text" class="form-control" name="Email" required>
		</div>
		<div class="mb-3">
			<label>Password</label>
			<input type="password" class="form-control" name="Email" required>
		</div>
		<div class="mb-3">
			<label>Confirm Password</label>
			<input type="password" class="form-control" name="Email" required>
		</div>
		<button type="submit" class="btn btn-primary py-2 px-3">Register</button> 
		<p class="pt-5">
			Already registered?
			<a asp-controller="Patient" asp-action="Login" class="">
				 Log in
			</a>
		</p>
	</div>

</form>