@using MASM.Models.ViewModels;
@model LoginViewModel

<form method="post" class="border p-3 mt-4">
	<div class="row pb-2 mt-4">
		<h1>Patient Login</h1>
		<hr />
	</div>
    <div class="mb-3">
        <label asp-for="Email" class="text-black"></label>
        <input asp-for="Email" class="form-control border-primary text-black w-50">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

	<div class="mb-3">
		<label asp-for="Password" class="text-black"></label>
		<div class="input-group  w-50">
			<input asp-for="Password" type="password" class="form-control border-primary text-black" id="passwordField" required>
			<button type="button" class="btn btn-outline-primary" onclick="togglePassword('passwordField', 'passwordToggle')">
				<i id="passwordToggle" class="bi bi-eye"></i>
			</button>
		</div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
	@if (!ViewData.ModelState.IsValid)
	{
		<div class="alert alert-danger">
			@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
			{
				<p>@error.ErrorMessage</p>
			}
		</div>
	}
    <button type="submit" class="btn btn-primary">Login</button>
	<p class="pt-4 text-black">
		No account?
		<a asp-controller="Patient" asp-action="Register">Register now</a>
	</p>
	<p class="">
		<a asp-controller="Patient" asp-action="Register">Staff Login</a>
	</p>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		function togglePassword(inputId, iconId) {
			let input = document.getElementById(inputId);
			let icon = document.getElementById(iconId);
			if (input.type === "password") {
				input.type = "text";
				icon.classList.remove("bi-eye");
				icon.classList.add("bi-eye-slash");
			} else {
				input.type = "password";
				icon.classList.remove("bi-eye-slash");
				icon.classList.add("bi-eye");
			}
		}
	</script>
}